[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "electionsBR"]
	path = electionsBR
	url = https://github.com/silvadenisson/electionsbr
[submodule "politicsR"]
	path = politicsR
	url = https://github.com/silvadenisson/politicsr
